<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Index page</title>
</head>

<body>
    <h1>Hello</h1>
    <br>
    <form class="" action="/register" method="GET">
        <button type="submit" class="">Register Yourself</button>
    </form>
    <form class="" action="/login" method="GET">
        <button type="submit" class="">Make Your Team</button>
    </form>


    

    <br><br>



    <form class="" action="/forgot_pass" method="GET">
        <button type="submit" class="">Admin Login</button>
    </form>

</body>

</html>