<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Index page</title>
</head>

<body>
    <h1>Hello</h1>
    <br>
    <form class="" action="/register" method="GET">
        <button type="submit" class="">Register Yourself</button>
    </form>
   

    
    <br><br>

    <form class="" action="/api/profile/find/everyone" method="GET">
        <button type="submit" class="">See All Cricket Players</button>
    </form>
    
    <br><br>


    <form class="" action="/api/profile/find/leaderboard" method="GET">
        <button type="submit" class="">See Participant Leaderboard</button>
    </form>
    
    <br><br>
    <form class="" action="/addplayer" method="GET">
        <button type="submit" class="">Add Player By Admin</button>
    </form>
    <br><br>



    <!-- <form class="" action="/admin" method="GET">
        <button type="submit" class="">Admin Login</button>
    </form>
    <br><br> -->
    <form class="" action="/maketeam" method="GET">
        <button type="submit" class="">Make Your Team</button>
    </form>



</body>

</html>