<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Make Your Team</title>
</head>
<body>
    <h1>Add Team</h1>

    <form class="" action="/api/profile/maketeam" method="POST" enctype="application/x-www-form-urlencoded">
        <div class="">
            Your Name
            <input type="text" name="name" id="" required>
        </div>
        <br />
        <div class="">
            Player Names Separated by ,
            <input type="text" name="playername" id="" required>
        </div>
        <br />

        <br />
        <button type="submit" class="">Enter My Team</button>
    </form>



</body>
</html>