<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Signup page</title>
</head>
<body>
    <h1>Signup Yourself</h1>

    <form class="" action="/api/auth/register" method="POST" enctype="application/x-www-form-urlencoded">
        <div class="">
            Name
            <input type="text" name="name" id="" required>
        </div>
        <br />
        <button type="submit" class="">Login</button>
    </form>

</body>
</html>