<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>
</head>
<body>
    <h1>Enter new Password</h1>

    <form class="" action="/api/auth/login" method="POST" enctype="application/x-www-form-urlencoded">
        <div class="">
            Password
            <input type="password" name="passsword" id="" required>
            Confirm Password
            <input type="password" name="password2" id="" required>
            
        </div>
        <br />
        <button type="submit" class="">Reset</button>
    </form>

</body>
</html>